@font-face {
    font-family: 'rcdemo';
    src: url('rc-demo-webfont.woff2') format('woff2'),
         url('rc-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	background-color: #1C0B19;
	font-family: 'Marvel', sans-serif;
}

nav {
	background-color: #1C0B19;
	font-family: 'Marvel', sans-serif;
	font-size: 32px;
	color: #E0E2DB;
	margin: 25px;
}

.container-fluid {
	margin: 0;
	padding: 0;
}
.heroimage {
	position: relative;
}
.herotext {
	font-family: rcdemo;
	font-size: 300px;
	color: #7FEFBD;
	position: absolute;
	top: 30%;
	left: 4%;
}
.herosubtext {
	font-family: Marvel;
	color: #7FEFBD;
	font-size: 42px;
	position : absolute;
	top: 75%;
	left: 80%;
}
.navbar-brand {
	width: 150px;
	height: 150px;
	display: inline-block;
}
.navbar-nav {
	display: inline-block;
}
.nav-item {
	padding: 12px;
	display:inline-block;
	
}
/*.nav-link {
line-height: 100px;
}*/

.heroimage {
	border-top: 5px solid #FF6978;
	border-bottom: 5px solid #FF6978;
}
.nav-link {
}

.subheader1 {
	color: #E0E2DB;
	font-size: 32px;

}
.btn {
	background-color: #1C0B19;;
	font-size: 24px;
	color:#E0E2DB;;
	border-radius: none;
	border: none;
	outline: none;
	padding: 25px;
}
.btn:focus, .btn:active:focus, .btn:active:focus {
	border: none;
	color: #7FEFBD;
	box-shadow: none;
}
.col-12 {
	margin: 0;
	padding: 0;
}
.card, .card2 {
	width: 100%;
	background-color: #F5F5F5;
	margin-right: 10px;
	border-radius: 0 
}